fontSize(size = base-font-size, base_size = base-font-size, font_height = base-line-height)
    //font-size   size px
    font-size   (size / base_size) rem
    //line-height unit((size / base_size) * font_height, px)
    line-height (font_height/base_size) * (size / base_size) rem

fontFace(name, folder, typefaces, path = pathToFonts)

    .font-{folder}
        font-family : name

    typeface = {
        t     : (200 normal), // thin
        t-i   : (200 italic), // thin italic
        l     : (300 normal), // light
        l-i   : (300 italic), // light italic
        book  : (350 normal), // book normal
        r     : (400 normal), // regular
        i     : (400 italic), // regular italic
        m     : (500 normal), // medium
        m-i   : (500 italic), // medium italic
        s-b   : (600 normal), // semi bold
        s-b-i : (600 italic), // semi bold italic
        b     : (700 normal), // bold
        b-i   : (700 italic), // bold italic
        e-b   : (800 normal), // extra bold
        e-b-i : (800 italic), // extra bold italic
        bl    : (900 normal), // black (mega bold)
        bl-i  : (900 italic)  // black italic (mega bold italic)
    }

    for face in typefaces

        @font-face
            font-family : name
            font-weight : typeface[face][0]
            font-style  : typeface[face][1]
            src : local(name), url(unquote(path) + '/' + folder + '/' + folder + '_' + face + '.otf') format('opentype')

// EXTENDS SECTION ==========================================

.reset-control
    appearance none
    outline none
    text-decoration none

    margin 0
    padding 0

    background none
    border none
    //cursor pointer

.reset-list
    padding 0
    margin 0
    list-style-type none

.display

    &_flex
        display flex
    &_inline-flex
        display : inline-flex

.flex-direction

    &_row
        flex-direction row
    &_row-reverse
        flex-direction row-reverse
    &_column
        flex-direction column
    &_column-reverse
        flex-direction column-reverse

.flex-wrap

    &_nowrap
        flex-wrap nowrap
    &_wrap
        flex-wrap wrap
    &_wrap-reverse
        flex-wrap wrap-reverse

.justify-content

    &_flex-start
        justify-content flex-start
    &_flex-end
        justify-content flex-end
    &_center
        justify-content center
    &_space-between
        justify-content space-between
    &_space-around
        justify-content space-around

.align-items

    &_flex-start
        align-items flex-start
    &_flex-end
        align-items flex-end
    &_center
        align-items center
    &_baseline
        align-items baseline
    &_stretch
        align-items stretch

// HELPERS CLASSES ====================================================
.hidden
    display: none !important

.visuallyhidden
    border: 0
    clip: rect(0 0 0 0)
    height: 1px
    margin: -1px
    overflow: hidden
    padding: 0
    position: absolute
    width: 1px

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
    clip: auto
    height: auto
    margin: 0
    overflow: visible
    position: static
    width: auto

.invisible
    visibility: hidden

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clear:before,
.clear:after
    content: " "
    display: table

.clear:after
    clear: both

for alias, weight in text-weight
    .text-{alias}
        font-weight : weight

.text-normal
    font-style : normal

.text-italic
    font-style : italic

.text-lowercase
    text-transform : lowercase

.text-uppercase
    text-transform : uppercase
