theme-color_primary   = #00bcd4
theme-color_secondary = #c00

aside-width-left  = 300px
aside-width-right = aside-width-left

base-gutter          = 15px
base-content-width   = 960px
base-controls-height = 36px

base-font-family =  'Ubuntu, Roboto, "Segoe UI", Arial, Helvetica, sans-serif'
base-font-size   = 16px
base-font-small  = (base-font-size / 100 * 80)
base-font-weight = 400
base-line-height = 24
base-text-color  = #333

pathToFonts = '../assets/fonts'

ff-pre      = 'Consolas, sans-serif'
ff-code     = ff-pre

selection = {
    bgc   : theme-color_primary,
    color : #fff
}

html = {
    family     : unquote(base-font-family),
    weight     : base-font-weight,
    color      : base-text-color,
    fontSize   : base-font-size,
    lineHeight : base-line-height,
    bgc        : #f4f4f4
}

breakpoints = {
    xs  : 480px,
    sm  : 600px,
    md  : 840px,
    hd  : 960px,
    lg  : 1280px,
    xlg : 1440px,
    fhd : 1600px
}

grid = {
    block   : w-grid,
    elem    : col,
    columns : 12,
    gutter  : 0,
    mods    : {
        demo : {
            gutter : 15
        }
    }
}

wp = {
    gallery : {
        columns : 9,
        gutter  : 5
    }
}

iconizer = {
    width  : 24px,
    height : 24px,
    fill   : #333
}

controls = {
    placeholder : {
        normal : rgba(#333, .7),
        focus  : transparent
    },
    padding : base-gutter,
    height  : base-controls-height,
    border  : {
        width  : 1px,
        radius : 2px
    }
}

text-weight = {
    thin    : 100,
    light   : 300,
    regular : 400,
    medium  : 500,
    bold    : 700,
    black   : 900
}


headings-size = base-font-size

headings = {
    gutter    : base-gutter,
    family    : unquote(base-font-family),
    weight    : 700,
    color     : base-text-color,
    transform : none,
    h1 : {
        size : headings-size * 2
    },
    h2 : {
        size : headings-size * 1.5
    },
    h3 : {
        size : headings-size * 1.12
    },
    h4 : {
        size : headings-size
    },
    h5 : {
        size : headings-size * 0.87
    },
    h6 : {
        size : headings-size * 0.63
    }
}

links = {
    default : #0054b9,
    hover   : #c00,
    active  : false,
    visited : false

}

blockquote = {
    gutter : base-gutter,
    border : {
        size  : 5px,
        color : theme-color_primary
    },
    font : {
        size  : base-font-size,
        style : normal
    }
}

em-color    = base-text-color

pre-color   = base-text-color
pre-bgc     = rgba(base-text-color, .05)

ins-color   = base-text-color
ins-bgc     = #ffa

mark-color  = base-text-color
mark-bgc    = #ffa

quote_style = italic

list-padding-left = base-gutter
