/* ==========================================================================
   цвета плейсхолдеров
   ========================================================================== */
::-webkit-input-placeholder
    color : controls.placeholder.normal
:-moz-placeholder
    color : controls.placeholder.normal
/* FF 4-18 */
::-moz-placeholder
    color : controls.placeholder.normal
/* FF 19+ */
:-ms-input-placeholder
    color : controls.placeholder.normal

/* ==========================================================================
   цвета плейсхолдеров в фокусе
   ========================================================================== */
/* IE 10+ */
input:focus::-webkit-input-placeholder
    color : controls.placeholder.focus
input:focus:-moz-placeholder
    color : controls.placeholder.focus
/* FF 4-18 */
input:focus::-moz-placeholder
    color : controls.placeholder.focus
/* FF 19+ */
input:focus:-ms-input-placeholder
    color : controls.placeholder.focus
/* IE 10+ */
:focus::-webkit-input-placeholder
    color : controls.placeholder.focus
:focus::-moz-placeholder
    color : controls.placeholder.focus
:focus:-moz-placeholder
    color : controls.placeholder.focus
:focus:-ms-input-placeholder
    color : controls.placeholder.focus

.input,
.button
    @extend .reset-control

    display : inline-block
    vertical-align : top
    font : inherit

    border : controls.border.width solid rgba(#000, .2)
    padding : 0 controls.padding

    height : controls.height

    &:hover
        border-color : rgba(#000, .3)

    &:focus
        border-color : rgba(#000, .4)

.input
    text-overflow : ellipsis
    line-height : controls.height

textarea
    resize : vertical
    padding : controls.padding

.button
    cursor pointer
    user-select none
    border-radius : controls.border.radius
    line-height : (controls.height - (controls.border.width * 2))

    &:hover,
    &:focus,
    &:active
        text-decoration : none

    &_disabled,
    &:disabled
        opacity .7
        pointer-events none
