.{grid.block}

    @extend .display_flex
    @extend .flex-direction_row
    @extend .flex-wrap_wrap

    margin : 0 0 0 unit(grid.gutter * -1, px)

    &__{grid.elem}
        width : 100%
        flex-basis : 100%
        padding : 0 0 unit(grid.gutter, px) unit(grid.gutter, px)
        box-sizing : border-box

    for modifier, data in grid.mods

        &_{modifier}
            margin : 0 0 0 unit(data.gutter * -1, px)

            .{grid.block}__{grid.elem}
                padding : 0 0 unit(data.gutter, px) unit(data.gutter, px)

for column in (1..grid.columns)

    .w-{column}
        column_width = (100 / grid.columns * column * 1%)
        max-width : column_width
        flex-basis : column_width

for alias, size in breakpoints
    @media (min-width size)
        for column in (1..grid.columns)
            .{alias}-{column},
            .{grid.block}.{alias}-{column} .{grid.block}__{grid.elem}
                column_width = (100 / grid.columns * column * 1%)
                max-width : column_width
                flex-basis : column_width
