{{#extend "_layout" pageTitle="Wepster page" bodyMod="wepster" pageClasses="w-container" bodyClasses=null asideRight=false}}

<!--name=(concat 'first' '-' 'second')-->
{{#content "main"}}

<br>
<br>
<br>
<br>
<br>
<div class="w-8">
    <a class="h3" href="https://ru.bem.info/methodology/" target="_blank" rel="noreferer, nofolow"><strong>БЭМ методология</strong></a>
    <br>
    <small>Методология БЭМ создана в Яндексе для разработки сайтов, которые надо делать быстро, а поддерживать долгие годы. Она позволяет создавать расширяемые и повторно используемые компоненты интерфейса.</small>
</div>
<br>
<div class="w-8">
    <a class="h3" href="http://nicothin.github.io/idiomatic-pre-CSS/" target="_blank" rel="noreferer, nofolow"><strong>Как работать с CSS-препроцессорами и БЭМ</strong></a>
    <br>
    <small>Список рекомендаций по неусложнению жизни себе и другим участникам проекта по вёрстке.</small>
</div>
<br>
<div class="w-8">
    <a class="h3" href="http://vovanr.com/frontend-elements-dictionary/" target="_blank" rel="noreferer, nofolow"><strong>Front-end Elements Dictionary</strong></a>
    <br>
    <small>Popular element names</small>
</div>
<br>
<br>
<br>
<br>
<br>
<h2>Grid</h2>
<p>Let's start with a simple example. Resize the browser window to see the responsive behavior of the grid</p>
<div block="w-grid" mod="demo">
    <div elem="col" mix="block:fhd-12 xlg-2 lg-3 hd-4 md-6 sm-12 xs-6">
        <div class="demo-box"></div>
    </div>
    {{#times 11}}
        <div elem="col" mix="block:fhd-{{math index '+' 1}} xlg-2 lg-3 hd-4 md-6 sm-{{math index '+' 1}} xs-6">
            <div class="demo-box"></div>
        </div>
        <div elem="col" mix="block:fhd-{{math 11 '-' index}} xlg-2 lg-3 hd-4 md-6 sm-{{math 11 '-' index}} xs-6">
            <div class="demo-box"></div>
        </div>
    {{/times}}
    <div elem="col" mix="block:fhd-12 fhd-1 xlg-2 lg-3 hd-4 md-6 sm-12 xs-6">
        <div class="demo-box"></div>
    </div>

</div><!-- b:w-grid -->

<hr>

<div class="w-grid">
    <div class="w-grid__col w-4">
        <h2>SVG-icons</h2>
        {{#each app.icons}}
        <icon name="{{this}}"></icon>
        {{/each}}
    </div>
    <div class="w-grid__col w-4">
        <h2>Spinner icons</h2>
        <icon name="spinner"></icon>
        <icon name="close" class="_spinner"></icon>
        <icon name="more_vert" class="_spinner"></icon>
    </div>
</div>

<hr>

<h2>Buttons</h2>

<input block="input" type="text" placeholder="placeholder">

<button block="button" mod="default" type="button">button</button>
<input block="button" mod="default, disabled" type="button" value="input button">
<a block="button" href="#">link button</a>
<span block="button">span button</span>
<div block="button">div button</div>

<hr>

<hr>
<h2>Default Wordpress gallery</h2>
<div class="gallery gallery-columns-5">
    {{#times 10}}
    <figure class="gallery-item">
        <div class="gallery-icon landscape">
            <a href="img/thumb-demo-{{index}}.jpg" target="_blank" rel="nofolow, noreferer"><img width="150" height="150" src="img/thumb-demo-{{index}}.jpg" class="attachment-thumbnail" alt="alt text"></a>
        </div>
        <figcaption class="wp-caption-text gallery-caption">
        Подпись картинки
        </figcaption>
    </figure>
    {{/times}}
</div>

<hr>

<h2>Images</h2>

<h3><code>img</code> inside <code>p</code> with class <code>alignleft</code></h3>
<p><img class="alignleft" width="100" height="100" src="img/thumb-demo-0.jpg"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis quaerat quos repellat necessitatibus ipsam excepturi culpa cupiditate! Aliquid rerum eos officiis, asperiores expedita ipsa magnam voluptates accusamus debitis a error possimus, deserunt, quis, dolor nulla eius harum sed laboriosam dolorum. Sed nulla fugiat, qui porro ea, molestias totam sunt aut aspernatur in. Officia itaque labore, voluptatem voluptatum quaerat illum odio obcaecati.</p>
<div class="clear"></div>
<br>
<h3><code>img</code> inside <code>p</code> with class <code>alignright</code></h3>
<p><img class="alignright" width="100" height="100" src="img/thumb-demo-1.jpg"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis quaerat quos repellat necessitatibus ipsam excepturi culpa cupiditate! Aliquid rerum eos officiis, asperiores expedita ipsa magnam voluptates accusamus debitis a error possimus, deserunt, quis, dolor nulla eius harum sed laboriosam dolorum. Sed nulla fugiat, qui porro ea, molestias totam sunt aut aspernatur in. Officia itaque labore, voluptatem voluptatum quaerat illum odio obcaecati.</p>
<div class="clear"></div>
<h3><code>figure</code> with class <code>alignleft</code></h3>
<figure style="width: 100px" class="wp-caption alignleft"><a href="#"><img class="size-medium wp-image-239" src="img/thumb-demo-2.jpg" alt="Атрибут alt" width="100" height="100"></a><figcaption class="wp-caption-text">Подпись к картинке</figcaption></figure>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis quaerat quos repellat necessitatibus ipsam excepturi culpa cupiditate! Aliquid rerum eos officiis, asperiores expedita ipsa magnam voluptates accusamus debitis a error possimus, deserunt, quis, dolor nulla eius harum sed laboriosam dolorum. Sed nulla fugiat, qui porro ea, molestias totam sunt aut aspernatur in. Officia itaque labore, voluptatem voluptatum quaerat illum odio obcaecati.</p>
<div class="clear"></div>
<br>

<h3><code>figure</code> with class <code>alignright</code></h3>
<figure style="width: 100px" class="wp-caption alignright"><a href="#"><img class="size-medium wp-image-239" src="img/thumb-demo-3.jpg" alt="Атрибут alt" width="100" height="100"></a><figcaption class="wp-caption-text">Подпись к картинке</figcaption></figure>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis quaerat quos repellat necessitatibus ipsam excepturi culpa cupiditate! Aliquid rerum eos officiis, asperiores expedita ipsa magnam voluptates accusamus debitis a error possimus, deserunt, quis, dolor nulla eius harum sed laboriosam dolorum. Sed nulla fugiat, qui porro ea, molestias totam sunt aut aspernatur in. Officia itaque labore, voluptatem voluptatum quaerat illum odio obcaecati.</p>
<div class="clear"></div>
<br>
<h3 style="text-align:center"><code>figure</code> with class <code>aligncenter</code></h3>
<figure style="width: 320px" class="wp-caption aligncenter"><a href="#"><img class="size-medium wp-image-239" src="img/thumb-demo-3.jpg" alt="Атрибут alt" width="320" height="320"></a><figcaption class="wp-caption-text">aligncenter</figcaption></figure>

{{/content}}

    {{#content 'asideLeft'}}
        <p>aside left</p>
    {{/content}}

    {{#content 'asideRight'}}
        <p>aside right</p>
    {{/content}}

{{/extend}}
