html,
body
    margin : 0
    padding : 0

html
    min-height : 100%
    min-height : 100vh

.w-page
    @extend .display_flex
    @extend .flex-direction_column
    height 100%

    &__scroll-fix
        @extend .display_flex
        @extend .flex-direction_column
        min-height : 100%
        min-height : 100vh

    &__body
        @extend .display_flex
        flex 1 0 auto

    &__main
        flex 1

    &__aside
        flex : 0 0 aside-width-left

        &_left
            order -1
            flex : 0 0 aside-width-left

        &_right
            flex 0 0 320px
            flex : 0 0 aside-width-right
